.movies {
  display: flex;
  flex-direction: column;
  background-color: #202020;
}

.movies__message {
  max-width: 1140px;
  margin: 0 auto;
  padding-top: 70px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #fff;
}
