/* убирает фон инпута) */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 60000s 0s, color 60000s 0s;
}

.app {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: #202020;
}
