.form-input__label {
  margin-bottom: 7px;
  display: flex;
  flex-direction: column;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}

.form-input__label-text {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #8B8B8B;
}

.form-input__input {
  width: 100%;
  margin: 5px 0;
  padding: 0 0 10px 0;
  border: none;
  border-bottom: 1px solid #424242;
  outline: none;
  background-color: transparent;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  caret-color: #fff;
}

.form-input__input:focus {
  border-bottom-color: #4285F4;
}

.form-input__input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #424242;
}

.form-input__input_type_error {
  color: #EE3465;
}

.form-input__error {
  min-height: 12px;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #EE3465;
}
